<% if params[:tag_search] %>
  <h2 class="sub-title"><%= fa_icon('tag', text: params[:tag_search]) %></h2>
<% end %>

<ul id="masonry-container">
  <li class="mas-box">
    <div class="image-wrapper">
      <%= link_to new_design_path, remote: true, class: 'image' do %>
        <button class="btn-new"><span>デザインを追加する</span></button>
      <% end %>
      <%= render "index" %>
    </div>
  </li>
</ul>

<div id="design-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
