.global-nav {
  position: fixed;
  width: $nav-width;
  height: 100%;
  padding: $nav-padding;
  background-color: $white;
  @include box-shadow;

  #logo {
    @include opacity-hover;

    .tori {
      margin: 0 20% 20%;

      .patapata { @include patapata-animation; }

      &:hover,
      &:active {
        .tori-hane { @include patapata-animation; }
      }
    }
  }

  .nav-target {
    display: none;

    @media(max-width: $smartphone) {
      display: inline-block;
    }
  }

  #tag_search { width: 100%; }

  @media(max-width: $tablet) {
    width: $nav-width-tablet;
  }

  @media(max-width: $smartphone) {
    width: $nav-width-smartphone;
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 2;
    padding: 0;

    header > *:not(h1):not(.nav-target),
    .custom-tags {
      display: none;
    }

    header {
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }

    h1 { margin: 0 auto; }

    .nav-target {
      position: absolute;
      right: 20px;
      font-size: $font-size-icon;
      color: rgba($light-gray, 0.4);
      display: block;
      margin: 19px 0;
    }

    #logo {
      height: 60px;
      display: inline-block;

      .tori {
        margin: 14px 0;
        height: 30px;
      }
    }
  }
}

.custom-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  li {
    display: block;
    flex: auto;
    text-align: center;
  }
}

.modal-dialog {
  position: fixed;
  max-height: 90%;
  overflow: scroll;
  width: $modal-dialog-width * 0.8;
  background: $white;
  padding: $space-large;
  top: $space-large;
  z-index: 2;

  @media(max-width: $tablet) {
    width: $modal-dialog-width * 0.6;
  }

  @media(max-width: $smartphone) {
    width: $modal-dialog-width;
    padding: $space-small $space-middle $space-middle;
    margin: auto 2%;
  }

  .modal-content {
    position: relative;
    padding-top: $space-large;

    .image { width: 100%; }

    .title {
      font-size: $font-size-big;
      margin-bottom: $space-middle;
      color: lighten($black, 20%);
      letter-spacing: $letter-spacing-title;
    }

    .custom-tags {
      width: 50%;

      @media(max-width: $tablet) {
        width: 100%;
      }
    }

    .icons {
      position: absolute;
      right: $space-middle;
      bottom: $space-middle;

      @media(max-width: $tablet) {
        position: initial;
        margin: $space-small 0 0 auto;
        display: block;
        width: 63px;
      }

      [class^=icon_] {
        font-size: 1.4rem;
        color: $light-gray;
        margin: $space-middle $space-middle $space-middle 0;
        @include transition;
        @include color-hover($light-green);

        &:last-child { margin-right: 0; }
      }
    }
  }

  .actions input {
    display: inline-block;
    background: $orange;
    padding: $space-small $space-middle;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    @include transition;
    @include opacity-hover;
  }
}

#modal-back {
  background: $light-gray;
  width: $main-width;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  opacity: $opacity-default;
  @include box-shadow($gray);

  @media(max-width: $tablet) {
    width: $main-width-tablet;
  }

  @media(max-width: $smartphone) {
    width: $main-width-smartphone;
  }
}
