html {
  font-size: $font-size-default;
  font-family: $font-family-default;
  background-color: $white;
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;

  @media(max-width: $smartphone) {
    display: block;
  }
}

main {
  width: $main-width;
  height: 100%;
  padding: $main-padding;
  margin-left: $nav-width;
  position: relative;

  @media(max-width: $tablet) {
    margin-left: $nav-width-tablet;
    width: $main-width-tablet;
  }
  @media(max-width: $smartphone) {
    margin-left: 0;
    width: $main-width-smartphone;
    padding: 50px 10px;
    margin-top: 50px;
  }
}
