/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require font-awesome
 *= require 'sanitize'
 *= require 'mixin'
 *= require_tree .
 *= require_self
 */

@mixin placeholderColor($color) {
  &:placeholder-shown {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color:$color;
  }
  &:-moz-placeholder {
    color:$color;
    opacity: 1;
  }
  &::-moz-placeholder {
    color:$color;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color:$color;
  }
}

html {
  font-size: 62.5%;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background-color: #fff;
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body { display: flex; }
nav {
  width: 20%;
  padding: 50px;
}
main {
  width: 80%;
  padding: 50px;
  margin-left: 20%;
  position: relative;
}

nav {
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(#999, 0.3);
  height: 100%;

  #logo {
    &:hover,
    &:active {
      opacity: 0.7;
    }

    .tori {
      margin: 0 40px 40px;

      .patapata {
        transform-origin: 0% 150%;
        animation: tori-hane 0.3s ease-in-out 0s infinite alternate;
      }

      &:hover,
      &:active {
        .tori-hane {
          transform-origin: 0% 150%;
          animation: tori-hane 0.3s ease-in-out 0s infinite alternate;
        }
      }

      @keyframes tori-hane {
        0% {
          transform: translate(0, 0) rotate(0deg);
        }
        50% {
          transform: translate(10%, 0%) rotate(-10deg);
        }
        100% {
          transform: translate(0, 0) rotate(0deg);
        }
      }
    }
  }

  input[type=text] {
    width: 100%;
    border: 2px solid #FC8B3F;
    padding: 10px 20px;
    margin-bottom: 40px;
    @include placeholderColor(#FC8B3F);

    &:focus {
      outline: 3px solid darken(#FC8B3F, 10%);
    }
  }
}

#notice {
  margin-bottom: 40px;
  background-color: #94BF10;
  padding: 20px 40px;
  color: #fff;
}

#error_explanation {
  margin-bottom: 40px;
  background-color: #FF5500;
  padding: 20px 40px;
  color: #fff;
  width: 90%;
}

.custom-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  li {
    display: block;
    flex: auto;
    text-align: center;
  }
  .tag {
    display: block;
    background-color: #fff;
    font-size: 0.8rem;
    padding: 5px 20px;
    color: #1E1E1E;
    border: 1px solid #eee;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #FC8B3F;
      color: #fff;
      border: 1px solid #FC8B3F;
    }
  }
}

.modal-dialog {
  position: absolute;
  width: 90%;
  background: #fff;
  padding: 50px;
  top: 50px;
  z-index: 2;

  .modal-content {
    position: relative;
    padding-top: 50px;

    .close {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 3rem;
      cursor: pointer;
      padding: 0 20px;
    }

    .image { width: 100%; }

    .title {
      font-size: 1.8rem;
      margin-bottom: 20px;
      color: #333;
      letter-spacing: 0.1rem;
    }

    .custom-tags {
      width: 50%;
    }

    .icons {
      position: absolute;
      right: 16px;
      bottom: 16px;

      [class^=icon_] {
        font-size: 1.4rem;
        color: #999;
        margin: 16px 16px 16px 0;
        transition: all 0.3s ease-in-out;

        &:last-child { margin-right: 0; }

        &:hover,
        &:active {
          color: #94BF10;
        }
      }
    }
  }

  .actions input {
    display: inline-block;
    background: #FC8B3F;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:active {
      opacity: 0.6;
    }
  }
}

#modal-back {
  background: #999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  box-shadow: 0 0 10px #666;
}
