/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require font-awesome
 *= require 'sanitize'
 *= require_tree .
 *= require_self
 */

html {
  font-size: 62.5%;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  background-color: #fff;
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body { display: flex; }
nav {
  width: 20%;
  padding: 50px 20px;
}
main {
  width: 80%;
  padding: 50px 50px;
  margin-left: 20%;
}

nav {
  position: fixed;
  background-color: #e5b8b7;
  height: 100%;

  input[type=text] {
    width: 100%;
    background-color: lighten(#e5b8b7, 10%);
    padding: 10px 20px;

    &:focus {
      outline: 2px solid darken(#e5b8b7, 10%);
    }
  }
}

.custom-tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;

  li {
    display: block;
    flex: auto;
    border: 1px solid #eee;
    text-align: center;
  }
  .tag {
    display: block;
    background-color: #fff;
    font-size: 0.8rem;
    padding: 5px 16px;
    color: #1E1E1E;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #e5b8b7;
      color: #fff;
    }
  }
}
