#masonry-container {
  list-style: none;
  padding: 0;

  .mas-box {
    width: $mas-box-width;
    border: 1px solid $white;
    margin-bottom: $mas-box-gutter-width;

    .image {
      position: relative;
      display: block;

      img {
        width: 100%;
        @include transition;
      }
    }

    .info {
      position: absolute;
      padding: $space-middle;
      bottom: 0;
      background-color: rgba($black, 0.6);
      width: 100%;
      opacity: 0;
      @include transition;

      .title {
        font-size: 1.2rem;
        letter-spacing: $letter-spacing-title;
        font-weight: normal;

        a { color: $white; }
      }

      .icons {
        position: absolute;
        right: $space-middle;
        bottom: $space-middle;

        [class^=icon_] {
          font-size: $font-size-icon;
          color: $light-gray;
          margin: $space-middle $space-middle $space-middle 0;
          @include transition;
          @include color-hover($light-green);

          &:last-child { margin-right: 0; }
        }
      }
    }
  }

  .mas-box {
    .btn-new {
      background: lighten($light-gray, 20%);
      width: $mas-box-width;
      height: $mas-box-width;
      display: flex;
      justify-content: center;
      align-items: center;
      @include transition;
      cursor: pointer;

      span {
        color: $white;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 16px;

        &:before {
          content: '+';
          display: block;
          font-size: 5rem;
        }
      }
    }
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;

    &:hover,
    &:active {
      .image > img,
      .btn-new {
        opacity: $opacity-default;
        transform: scale(1.02);
      }

      .info { opacity: 1; }
    }
  }
}

.sub-title {
  font-size: $font-size-big;
  margin-bottom: $space-middle;
  color: darken($black, 10%);
  letter-spacing: $letter-spacing-title;

  i {
    font-size: 2.2rem;
    color: $orange;
    transform: rotate(-90deg);
  }
}

#show {
  display: flex;

  .image { width: 50%; }

  .info {
    width: 50%;

    .title { font-size: $font-size-big; }
  }
}

input[type=text],
textarea {
  width: $modal-form-width;
  border: 2px solid $orange;
  padding: $space-small $space-middle;
  margin-bottom: $space-middle*2;
  @include placeholderColor(lighten($orange, 20%));

  &:focus {
    outline: 3px solid darken($orange, 10%);
  }
}

.forms { list-style: none; }
