#masonry-container {
  list-style: none;
  padding: 0;

  .mas-box {
    width: 300px;
    border: 1px solid #fff;
    margin-bottom: 10px;

    .image {
      position: relative;
      display: block;

      img {
        width: 100%;
        transition: all 0.3s ease-in-out;
      }
    }

    .info {
      position: absolute;
      padding: 16px;
      bottom: 0;
      background-color: rgba(#000, 0.6);
      width: 100%;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      .title {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        font-weight: normal;

        a { color: #fff; }
      }

      .icons {
        position: absolute;
        right: 16px;
        bottom: 16px;

        [class^=icon_] {
          font-size: 1.4rem;
          color: #999;
          margin: 16px 16px 16px 0;
          transition: all 0.3s ease-in-out;

          &:last-child { margin-right: 0; }

          &:hover,
          &:active {
            color: #DD2266
          }
        }
      }
    }
  }

  .mas-box {
    .btn-new {
      background: #ccc;
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      span {
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 16px;

        &:before {
          content: '+';
          display: block;
          font-size: 5rem;
        }
      }
    }
  }

  .image-wrapper {
    position: relative;
    overflow: hidden;

    &:hover,
    &:active {
      .image > img,
      .btn-new {
        opacity: 0.7;
        transform: scale(1.02);
      }

      .info { opacity: 1; }
    }
  }
}

.sub-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
